@font-face {
  font-display: swap;
  font-family: "Open Sans";
  src: url("./../fonts/open-sans-v29-latin-regular.woff2") format("woff2"), url("./../fonts/open-sans-v29-latin-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  src: url("./../fonts/open-sans-v29-latin-600.woff2") format("woff2"), url("./../fonts/open-sans-v29-latin-600.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  src: url("./../fonts/open-sans-v29-latin-700.woff2") format("woff2"), url("./../fonts/open-sans-v29-latin-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  src: url("./../fonts/open-sans-v29-latin-800.woff2") format("woff2"), url("./../fonts/open-sans-v29-latin-800.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border-style: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #1d2024;
}

.wrapper {
  margin: 30px 0;
}

.container {
  max-width: 1312px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.subscribe {
  color: rgba(20, 23, 27, 0.96);
  padding: 8px 16px;
  border-radius: 12px;
  background-color: #fff;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  font-weight: 800;
  font-size: 24px;
  line-height: 67%;
  letter-spacing: 0.02em;
  color: #fff;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 56px;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
}

.header__item {
  margin-left: 32px;
}

.header__link {
  color: rgba(255, 255, 255, 0.55);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__link:hover {
  color: #fff;
}

.header__wrap-subscribe {
  margin-left: auto;
}

.page__odo {
  margin-bottom: 48px;
}

.odo__header {
  font-weight: 800;
  font-size: 84px;
  line-height: 119%;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.odo__subheading {
  font-weight: 600;
  font-size: 32px;
  line-height: 125%;
  color: #fff;
  margin-bottom: 48px;
}
