@font-face {
  font-display: swap;
  font-family: "Open Sans";
  src: url("./../fonts/open-sans-v29-latin-regular.woff2") format("woff2"), url("./../fonts/open-sans-v29-latin-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  src: url("./../fonts/open-sans-v29-latin-600.woff2") format("woff2"), url("./../fonts/open-sans-v29-latin-600.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  src: url("./../fonts/open-sans-v29-latin-700.woff2") format("woff2"), url("./../fonts/open-sans-v29-latin-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  src: url("./../fonts/open-sans-v29-latin-800.woff2") format("woff2"), url("./../fonts/open-sans-v29-latin-800.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border-style: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #1d2024;
}

.wrapper {
  margin: 30px 0;
}

.container {
  max-width: 1312px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.subscribe {
  color: rgba(20, 23, 27, 0.96);
  padding: 8px 16px;
  border-radius: 12px;
  background-color: #fff;
}

.header {
  margin-bottom: 48px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  font-weight: 800;
  font-size: 24px;
  line-height: 67%;
  letter-spacing: 0.02em;
  color: #fff;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 56px;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
}

.header__item {
  margin-left: 32px;
}

.header__link {
  color: rgba(255, 255, 255, 0.55);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__link:hover {
  color: #fff;
}

.header__wrap-subscribe {
  margin-left: auto;
}

.page__odo {
  margin-bottom: 48px;
}

.odo__header {
  font-weight: 800;
  font-size: 84px;
  line-height: 119%;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.odo__subheading {
  font-weight: 600;
  font-size: 32px;
  line-height: 125%;
  color: #fff;
  margin-bottom: 48px;
}

.cards__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -16px;
}

.cards__column {
  padding: 16px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3334%;
          flex: 0 1 33.3334%;
}

.cards__item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cards__head {
  background: linear-gradient(113.19deg, #ec0808 -3.48%, #ff8e4e 67.1%, #ffc90b 91.29%);
  -webkit-box-shadow: 0px 2px 17px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 17px rgba(0, 0, 0, 0.1);
  border-radius: 24px 24px 0 0;
  padding: 24px 24px 40px 24px;
}

.cards__head:nth-child(2) {
  background: linear-gradient(113.19deg, #09af2d -3.48%, #4efff4 73.02%, #0bd3ff 91.29%);
}

.cards__title {
  font-weight: 800;
  font-size: 32px;
  line-height: 119%;
  letter-spacing: 0.02em;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  color: #fff;
}

.cards__user-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  color: #fff;
}

.cards__skill {
  padding: 6px 16px;
  border: 1px solid rgba(255, 255, 255, 0.55);
  border-radius: 100px;
  margin: 8px;
}

.cards__skill:nth-child(1) {
  margin-left: 0;
}

.cards__body {
  margin-top: -20px;
  background-color: #fff;
  padding: 24px;
  border-radius: 24px;
}

.cards__partners-logo {
  margin-bottom: 16px;
}

.cards__data-list {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  color: rgba(20, 23, 27, 0.96);
  margin-bottom: 16px;
}

.cards__data {
  margin-bottom: 8px;
}

.cards__data:last-child {
  font-size: 14px;
  line-height: 143%;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  color: rgba(20, 23, 27, 0.55);
  margin-bottom: 0;
}

.cards__wrap-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards__wrap-apply {
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
}

.cards__apply {
  color: rgba(20, 23, 27, 0.96);
  padding: 8px 16px;
  border: 1px solid rgba(20, 23, 27, 0.96);
  border-radius: 12px;
}

.cards__wrap-more {
  margin-left: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
}

.cards__more {
  color: rgba(20, 23, 27, 0.96);
}
