.cards {
    &__row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -16px;
    }

    &__column {
        padding: 16px;
        flex: 0 1 33.3334%;
    }

    &__item {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__head {
        background: linear-gradient(113.19deg, #ec0808 -3.48%, #ff8e4e 67.1%, #ffc90b 91.29%);
        box-shadow: 0px 2px 17px rgba(0, 0, 0, 0.1);
        border-radius: 24px 24px 0 0;

        padding: 24px 24px 40px 24px;
    }

    &__title {
        font-weight: 800;
        font-size: 32px;
        line-height: 119%;
        letter-spacing: 0.02em;
        font-feature-settings: "pnum" on, "lnum" on;
        color: #fff;
    }

    &__user-skills {
        display: flex;
        font-weight: 600;
        font-size: 14px;
        line-height: 143%;

        font-feature-settings: "pnum" on, "lnum" on;

        color: #fff;
    }

    &__skill {
        padding: 6px 16px;
        border: 1px solid rgba(255, 255, 255, 0.55);
        border-radius: 100px;
        margin: 8px;

        &:nth-child(1) {
            margin-left: 0;
        }
    }

    &__body {
        margin-top: -20px;
        background-color: $colorWhite;
        padding: 24px;
        border-radius: 24px;
    }

    &__partners-logo {
        margin-bottom: 16px;
    }

    &__partners {
    }

    &__data-list {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 111%;

        font-feature-settings: "pnum" on, "lnum" on;

        color: rgba(20, 23, 27, 0.96);

        margin-bottom: 16px;
    }

    &__data {
        margin-bottom: 8px;
        &:last-child {
            font-size: 14px;
            line-height: 143%;

            font-feature-settings: "pnum" on, "lnum" on;

            color: rgba(20, 23, 27, 0.55);
            margin-bottom: 0;
        }
    }

    &__wrap-buttons {
        display: flex;
    }

    &__wrap-apply {
        font-weight: 600;
        font-size: 14px;
        line-height: 143%;

        font-feature-settings: "pnum" on, "lnum" on;
    }

    &__apply {
        color: rgba(20, 23, 27, 0.96);
        padding: 8px 16px;
        border: 1px solid rgba(20, 23, 27, 0.96);
        border-radius: 12px;
    }

    &__wrap-more {
        margin-left: 16px;
        font-weight: 600;
        font-size: 14px;
        line-height: 143%;

        font-feature-settings: "pnum" on, "lnum" on;
    }

    &__more {
        color: rgba(20, 23, 27, 0.96);
    }
}
