.odo {
    &__header {
        font-weight: 800;
        font-size: 84px;
        line-height: 119%;

        letter-spacing: 0.02em;

        color: $colorWhite;

        margin-bottom: 16px;
    }

    &__subheading {
        font-weight: 600;
        font-size: 32px;
        line-height: 125%;

        color: $colorWhite;

        margin-bottom: 48px;
    }

    &__wrap-subscribe {
    }

    &__subscribe {
    }
}
