.page {
    &__completed {
    }
}
.completed {
    &__row-data {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 24px;
    }

    &__subheading {
        font-weight: 600;
        font-size: 28px;
        line-height: 143%;

        color: rgba(21, 31, 45, 0.96);
    }

    &__list-data {
        display: flex;
    }

    &__left-button {
    }

    &__left {
        position: relative;
        color: #6e85ab;
        margin-right: 16px;

        &::before {
            position: absolute;
            top: 5px;
            left: 0;
            font-size: 16px;
        }
    }

    &__wrap-month {
        font-weight: 600;
        font-size: 16px;
        line-height: 125%;

        margin: 0 16px 0 16px;
    }

    &__month {
        color: #6e85ab;
        transition: all 0.3s ease 0s;

        &:hover {
            color: $colorGarkBlue;
        }
    }

    &__rigth-button {
    }

    &__rigth {
        position: relative;
        color: #6e85ab;
        margin-left: 16px;

        &::after {
            position: absolute;
            top: 5px;
            right: 0;
            font-size: 16px;
        }
    }

    &__year {
        font-weight: 600;
        font-size: 16px;
        line-height: 143%;

        color: #6e85ab;

        margin-left: 32px;
    }

    &__row {
        display: flex;
    }

    &__column {
        padding: 16px;
        flex: 0 1 33.3334%;
    }

    &__item {
        padding: 32px;
        background: #fff;
        border-radius: 32px;
        transition: all 0.3s ease 0s;

        height: 100%;
        display: flex;
        flex-direction: column;

        &:hover {
            box-shadow: 0px 4px 15px rgba(110, 133, 171, 0.15);
        }
    }

    &__title {
        margin-bottom: 16px;
        color: #6e85ab;
    }

    &__stack {
        display: flex;
        font-weight: 600;
        font-size: 14px;
        line-height: 143%;

        color: #6e85ab;

        margin-bottom: 24px;
    }

    &__point {
        padding: 5px 13.5px;
        border: 1px solid #6e85ab;
        border-radius: 87.7854px;
        margin-left: 4px;

        &:nth-child(1) {
            margin-left: 0;
        }
    }

    &__data-list {
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;

        color: #6e85ab;

        margin-bottom: 24px;
    }

    &__data-point {
        margin-bottom: 4px;

        &:last-child {
            font-size: 14px;
            line-height: 143%;

            color: #6e85ab;
            margin-bottom: 0;
        }
    }

    &__company-info {
        position: relative;

        display: flex;
        color: #6e85ab;
    }

    &__wrap-logo {
    }

    &__logo {
        border-radius: 50%;
    }

    &__about-company {
        padding-top: 13px;
        margin-left: 16px;
    }

    &__span-company {
        font-size: 14px;
        line-height: 143%;

        color: #6e85ab;
    }
}
