@font-face {
  font-display: swap;
  font-family: "Century Gothic";
  src: url("./../fonts/CenturyGothic.woff2") format("woff2"), url("./../fonts/CenturyGothic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Century Gothic";
  src: url("./../fonts/CenturyGothic-Bold.woff2") format("woff2"), url("./../fonts/CenturyGothic-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "iconfont";
  src: url("./../fonts/iconfont.woff2") format("woff2"), url("./../fonts/iconfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon-]::before,
[class*=" _icon-"]::before,
[class^=_icon-]::after,
[class*=" _icon-"]::after {
  font-family: "iconfont";
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-back-arrow:before {
  content: "\e900";
}

._icon-telegram:before {
  content: "\e901";
}

._icon-data-left:before {
  content: "\e902";
}

._icon-data-right::after {
  content: "\e903";
}

* {
  padding: 0;
  margin: 0;
  border-style: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Century Gothic", sans-serif;
  background: #e1e8f4;
  background-image: url("./../img/bg-main.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top 0 center;
}

.wrapper {
  margin: 30px 0;
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1312px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

.case {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

.subscribe {
  color: #000;
  padding: 14px 20px;
  border-radius: 16px;
  background-color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  transition: all 0.3s ease 0s;
}
.subscribe:hover {
  box-shadow: 0px 4px 15px rgba(110, 133, 171, 0.15);
}

.subheading {
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  color: #151f2d;
}

.telegram {
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  padding-left: 25px;
  color: #6e85ab;
  transition: all 0.3s ease 0s;
}
.telegram::before {
  position: absolute;
  top: 4px;
  left: 0;
  font-size: 13px;
}
.telegram:hover {
  color: #151f2d;
}

.text {
  font-size: 14px;
  line-height: 143%;
  color: #151f2d;
}

.title {
  font-weight: 800;
  font-size: 28px;
  line-height: 125%;
  color: #151f2d;
}

.topic {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6e85ab;
  margin-bottom: 8px;
}

.text-details {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #151f2d;
  margin-bottom: 24px;
}

.header {
  margin-bottom: 63px;
}
.header__row {
  display: flex;
}
.header__nav-list {
  display: flex;
  margin-left: 56px;
  margin-top: 7px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}
.header__item {
  margin-left: 32px;
}
.header__link {
  color: #6e85ab;
  transition: all 0.3s ease 0s;
}
.header__link:hover {
  color: #151f2d;
}
.header__subscribe-list {
  display: flex;
  margin-left: auto;
  margin-top: 10px;
}
.header__item {
  margin-left: 24px;
}
@media (max-width: 768px) {
  .header__row {
    justify-content: space-between;
  }
  .header__nav {
    display: none;
  }
  .header__subscribe-list {
    display: none;
  }
  .header__burger {
    position: relative;
    height: 24px;
    width: 24px;
    margin-top: 3px;
  }
  .header__burger::before {
    content: "";
    position: absolute;
    background-color: #151f2d;
    right: 0;
    top: 0;
    width: 100%;
    height: 2px;
  }
  .header__burger::after {
    content: "";
    position: absolute;
    background-color: #151f2d;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
  }
  .header__span-burger::before {
    content: "";
    position: absolute;
    background-color: #151f2d;
    top: 11px;
    right: 0;
    width: 100%;
    height: 2px;
  }
}
.page__start {
  flex: 1 1 auto;
  margin-bottom: 48px;
}
.page__tickets {
  margin-bottom: 48px;
}
.page__statistics {
  margin-bottom: 56px;
}
.start__row {
  display: flex;
}
.start__body {
  flex: 1 1 auto;
  padding: 0 54px 0 0;
}
.start__heading {
  font-weight: 700;
  font-size: 140px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #151f2d;
  margin-bottom: 16px;
}
.start__text {
  max-width: 599px;
  font-size: 28px;
  line-height: 143%;
  color: #151f2d;
  margin-bottom: 32px;
}
.start__wrap-picture {
  position: relative;
  flex: 0 0 518px;
}
.start__wrap-picture::before {
  content: "";
  position: absolute;
  top: 50px;
  left: -400px;
  width: 511px;
  height: 508px;
  background: url("./../img/light.png") 0 0/contain no-repeat;
}
.start__picture {
  max-width: 100%;
}

@media (max-width: 1023px) {
  .start__heading {
    font-size: 100px;
  }
  .start__text {
    font-size: 20px;
  }
  .start__wrap-picture {
    flex: 0 0 418px;
  }
  .start__wrap-picture::before {
    top: 40px;
    left: -320px;
    width: 411px;
    height: 408px;
  }
}
@media (max-width: 767px) {
  .start__row {
    flex-direction: column;
  }
  .start__body {
    padding: 0;
  }
  .start__subheading {
    text-align: center;
    font-size: 20px;
  }
  .start__heading {
    text-align: center;
    font-size: 60px;
  }
  .start__text {
    text-align: center;
    font-size: 15px;
  }
  .start__wrap-subscribe {
    text-align: center;
    margin-bottom: 30px;
  }
  .start__wrap-picture {
    display: none;
  }
}
.blog__wrap-blog {
  margin: 0 auto;
  padding: 32px;
  border-radius: 32px;
  width: 900px;
  background-color: #fff;
  transition: all 0.3s ease 0s;
  margin-bottom: 16px;
}
.blog__wrap-blog:hover {
  box-shadow: 0px 4px 15px rgba(110, 133, 171, 0.15);
}
.blog__row {
  display: flex;
}
.blog__wrap-image {
  flex: 0 0 405px;
}
.blog__image {
  max-width: 100%;
  border-radius: 16px;
}
.blog__body {
  flex: 1 1 auto;
  padding: 0 0 0 24px;
}
.blog__subheading {
  margin-bottom: 8px;
}
.blog__text {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #151f2d;
  margin-bottom: 21px;
}
.blog__tag {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #6e85ab;
  margin-bottom: 31px;
}
.blog__wrap-more {
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
}
.blog__more {
  padding: 10px 16px;
  color: #151f2d;
  border: 1px solid #151f2d;
  border-radius: 16px;
}

@media (max-width: 768px) {
  .blog__wrap-blog {
    max-width: 400px;
  }
  .blog__row {
    flex-wrap: wrap;
    justify-content: center;
  }
  .blog__body {
    padding: 0;
  }
  .blog__wrap-image {
    flex: 0 0 300px;
  }
}
@media (max-width: 425px) {
  .blog__wrap-blog {
    width: 350px;
    padding: 32px 16px;
    text-align: center;
  }
}
@media (max-width: 375px) {
  .blog__wrap-blog {
    width: 300px;
    padding: 20px 5px;
    text-align: center;
  }
  .blog__wrap-image {
    flex: 0 0 280px;
  }
}
.page__note {
  margin-bottom: 0;
}

.note__wrap-back {
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  margin-bottom: 16px;
}
.note__back {
  color: #6e85ab;
  padding-left: 20px;
  transition: all 0.3s ease 0s;
}
.note__back::before {
  position: absolute;
  top: 4px;
  left: 0;
  font-size: 13px;
}
.note__back:hover {
  color: #151f2d;
}
.note__body {
  margin: 0 auto;
  padding: 32px 48px;
  max-width: 900px;
  background: #fff;
  border-radius: 24px;
}
.note__subheading {
  margin-bottom: 16px;
}
.note__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #151f2d;
  margin-bottom: 16px;
}
.note__topic {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #38b5cf;
  margin-bottom: 32px;
}
.note__wrap-img {
  text-align: center;
  margin-bottom: 32px;
}
.note__img {
  border-radius: 16px;
  max-width: 100%;
}
.note__text {
  margin-bottom: 32px;
}
.note__wrap-pic {
  text-align: center;
  margin-bottom: 32px;
}
.note__pic {
  border-radius: 16px;
  max-width: 100%;
}

@media (max-width: 1023px) {
  .note__body {
    padding: 16px 24px;
  }
  .note__subheading {
    text-align: center;
  }
  .note__title {
    text-align: center;
  }
  .note__topic {
    text-align: center;
  }
}
.tickets__row {
  display: flex;
  margin: 0 -16px;
  flex-wrap: wrap;
}
.tickets__column {
  padding: 16px;
  flex: 0 1 33.3334%;
}
.tickets__item {
  padding: 32px;
  background: #fff;
  border-radius: 24px;
  transition: all 0.3s ease 0s;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.tickets__item:hover {
  box-shadow: 0px 4px 15px rgba(110, 133, 171, 0.15);
}
.tickets__title {
  margin-bottom: 16px;
}
.tickets__stack {
  display: flex;
  font-size: 14px;
  line-height: 143%;
  color: #38b5cf;
  margin-bottom: 24px;
}
.tickets__point {
  padding: 5px 13.5px;
  border: 1px solid #38b5cf;
  border-radius: 87.7854px;
  margin-left: 4px;
}
.tickets__point:nth-child(1) {
  margin-left: 0;
}
.tickets__data-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #151f2d;
  margin-bottom: 24px;
}
.tickets__data-point {
  margin-bottom: 4px;
}
.tickets__data-point:last-child {
  font-size: 14px;
  line-height: 143%;
  color: #6e85ab;
  margin-bottom: 0;
}
.tickets__wrap-company-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tickets__about-company {
  position: relative;
  padding-left: 52px;
  font-size: 20px;
  line-height: 150%;
  color: #151f2d;
}
.tickets__about-company::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 40px;
  height: 40px;
  background: url("./../img/vk.png") 0 0/contain no-repeat;
}
.tickets__button {
  padding: 10px 16px;
  border: 1px solid #151f2d;
  border-radius: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  color: #151f2d;
}
.tickets__item-shadow {
  padding: 32px 0 0 0;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 24px;
}
.tickets__item-shadow:hover {
  box-shadow: 0px 4px 15px rgba(110, 133, 171, 0.15);
}
.tickets__title-shadow {
  text-align: center;
  margin: 0 auto;
  font-weight: 800;
  font-size: 28px;
  line-height: 125%;
  width: 281px;
  text-align: center;
  color: rgba(110, 133, 171, 0.5);
  margin-bottom: 24px;
}
.tickets__wrap-img-load {
  text-align: center;
}
.tickets__wrap-cartoon {
  text-align: right;
}
@media (max-width: 1335px) {
  .tickets__row {
    justify-content: center;
    margin: -16px;
  }
  .tickets__company-info {
    display: inline-block;
  }
  .tickets__about-company {
    margin-left: 0;
  }
  .tickets__button {
    margin-top: 50px;
  }
}
@media (max-width: 1023px) {
  .tickets__column {
    flex: 0 1 50%;
  }
}
.statistics__subheading {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 143px;
  color: #fff;
  text-shadow: 0px 4px 6px rgba(110, 133, 171, 0.1);
}
.statistics__row {
  display: flex;
  align-items: center;
}
.statistics__column {
  flex: 0 1 33.3334%;
}
.statistics__wrap-event {
  padding: 0 64px;
  display: flex;
}
.statistics__number {
  font-weight: 700;
  font-size: 140px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0px 4px 10px rgba(110, 133, 171, 0.1);
}
.statistics__event {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: #fff;
  text-shadow: 0px 4px 6px rgba(110, 133, 171, 0.1);
  width: 150px;
  padding: 50px 0 0 16px;
}
.statistics__wrap-biz {
  padding: 0 64px;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  display: flex;
}
.statistics__biz {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: #fff;
  text-shadow: 0px 4px 6px rgba(110, 133, 171, 0.1);
  width: 150px;
  padding: 30px 0 0 16px;
}
.statistics__wrap-top {
  display: flex;
  margin-left: 60px;
}
.statistics__list {
  padding: 16px 68px 16px 16px;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(110, 133, 171, 0.1);
  border-radius: 24px;
}
.statistics__company-item {
  margin-bottom: 8px;
}
.statistics__company-item:last-child {
  margin-bottom: 0;
}
.statistics__company {
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
.statistics__span {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: rgba(21, 31, 45, 0.96);
  margin-left: 8px;
}
.statistics__text-top {
  padding: 28px 40.5px 28px 16px;
  width: 127px;
  font-weight: 700;
  font-size: 24px;
  line-height: 132%;
  color: #fff;
  text-shadow: 0px 4px 6px rgba(110, 133, 171, 0.1);
}

@media (max-width: 1335px) {
  .statistics__wrap-event {
    padding: 0 30px;
  }
  .statistics__number {
    font-size: 100px;
  }
  .statistics__event {
    font-size: 20px;
    padding: 30px 0 0 10px;
  }
  .statistics__wrap-biz {
    font-size: 20px;
    padding: 0 30px;
  }
  .statistics__biz {
    width: 140px;
    font-size: 20px;
    padding: 15px 0 0 10px;
  }
  .statistics__wrap-top {
    margin-left: 30px;
  }
  .statistics__list {
    padding: 13px 65px 13px 13px;
  }
  .statistics__text-top {
    font-size: 20px;
  }
}
@media (max-width: 1023px) {
  .statistics__subheading {
    margin-bottom: 15px;
  }
  .statistics__row {
    flex-direction: column;
  }
  .statistics__wrap-event {
    margin-bottom: 50px;
  }
  .statistics__wrap-biz {
    border-left: 0;
    border-right: 0;
    margin-bottom: 50px;
  }
  .statistics__list {
    padding: 13px 28px 13px 13px;
  }
}
.completed__row-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.completed__subheading {
  font-weight: 600;
  font-size: 28px;
  line-height: 143%;
  color: rgba(21, 31, 45, 0.96);
}
.completed__list-data {
  display: flex;
}
.completed__left {
  position: relative;
  color: #6e85ab;
  margin-right: 16px;
}
.completed__left::before {
  position: absolute;
  top: 5px;
  left: 0;
  font-size: 16px;
}
.completed__wrap-month {
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  margin: 0 16px 0 16px;
}
.completed__month {
  color: #6e85ab;
  transition: all 0.3s ease 0s;
}
.completed__month:hover {
  color: #151f2d;
}
.completed__rigth {
  position: relative;
  color: #6e85ab;
  margin-left: 16px;
}
.completed__rigth::after {
  position: absolute;
  top: 5px;
  right: 0;
  font-size: 16px;
}
.completed__year {
  font-weight: 600;
  font-size: 16px;
  line-height: 143%;
  color: #6e85ab;
  margin-left: 32px;
}
.completed__row {
  display: flex;
}
.completed__column {
  padding: 16px;
  flex: 0 1 33.3334%;
}
.completed__item {
  padding: 32px;
  background: #fff;
  border-radius: 32px;
  transition: all 0.3s ease 0s;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.completed__item:hover {
  box-shadow: 0px 4px 15px rgba(110, 133, 171, 0.15);
}
.completed__title {
  margin-bottom: 16px;
  color: #6e85ab;
}
.completed__stack {
  display: flex;
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  color: #6e85ab;
  margin-bottom: 24px;
}
.completed__point {
  padding: 5px 13.5px;
  border: 1px solid #6e85ab;
  border-radius: 87.7854px;
  margin-left: 4px;
}
.completed__point:nth-child(1) {
  margin-left: 0;
}
.completed__data-list {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #6e85ab;
  margin-bottom: 24px;
}
.completed__data-point {
  margin-bottom: 4px;
}
.completed__data-point:last-child {
  font-size: 14px;
  line-height: 143%;
  color: #6e85ab;
  margin-bottom: 0;
}
.completed__company-info {
  position: relative;
  display: flex;
  color: #6e85ab;
}
.completed__logo {
  border-radius: 50%;
}
.completed__about-company {
  padding-top: 13px;
  margin-left: 16px;
}
.completed__span-company {
  font-size: 14px;
  line-height: 143%;
  color: #6e85ab;
}

@media (max-width: 1023px) {
  .completed__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 767px) {
  .completed__row-data {
    flex-direction: column;
  }
  .completed__subheading {
    margin-bottom: 30px;
  }
  .completed__wrap-month:nth-child(2) {
    display: none;
  }
  .completed__wrap-month:nth-child(3) {
    display: none;
  }
}
.details__wrap {
  padding: 48px;
  max-width: 1312px;
  background: #fff;
  border-radius: 48px;
  margin-bottom: 48px;
}
.details__wrap-headig {
  display: flex;
  justify-content: space-between;
}
.details__subheading {
  font-weight: 800;
  font-size: 70px;
  line-height: 129%;
  letter-spacing: 0.02em;
  color: #151f2d;
  margin-bottom: 17px;
}
.details__company-info {
  display: flex;
}
.details__logo {
  border-radius: 50%;
}
.details__about-company {
  font-weight: 400;
  font-size: 32px;
  line-height: 125%;
  color: #151f2d;
  margin-left: 16px;
}
.details__span-company {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #6e85ab;
}
.details__stack-list {
  display: flex;
  margin-bottom: 24px;
}
.details__point {
  font-weight: 400;
  font-size: 14.0457px;
  line-height: 125%;
  color: #38b5cf;
  padding: 8px 15px;
  border: 1px solid #38b5cf;
  border-radius: 100px;
  margin-left: 8px;
}
.details__point:nth-child(1) {
  margin-left: 0;
}
.details__stage-list {
  display: flex;
  margin-bottom: 8px;
}
.details__stage-one {
  width: 70px;
  height: 70px;
  background: #c2edf7;
  border-radius: 100px;
}
.details__number {
  display: inline-block;
  padding-left: 25px;
  padding-top: 15px;
  font-weight: 600;
  font-size: 32px;
  line-height: 125%;
  color: #151f2d;
}
.details__line {
  margin: 30px 16px 0 16px;
  width: 208.33px;
  height: 0px;
  border: 2px solid #c2edf7;
}
.details__stage-info-list {
  display: flex;
  margin-bottom: 40px;
}
.details__info-two {
  margin-left: 165px;
}
.details__info-three {
  margin-left: 100px;
}
.details__info-four {
  margin-left: 200px;
}
.details__span {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6e85ab;
}
.details__wrap-button {
  margin-top: 48px;
}
.details__button {
  font-size: 16px;
  line-height: 150%;
  color: #151f2d;
  padding: 14px 20px;
  border: 1px solid #151f2d;
  border-radius: 20px;
}
.details__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 143%;
  color: #151f2d;
  margin-bottom: 24px;
}

@media (max-width: 1335px) {
  .details__wrap-stages {
    display: flex;
  }
  .details__stage-list {
    flex-direction: column;
  }
  .details__stage-one {
    margin-bottom: 20px;
  }
  .details__line {
    display: none;
  }
  .details__stage-info-list {
    flex-direction: column;
  }
  .details__info-one {
    margin: 30px 0 20px 20px;
  }
  .details__info-two {
    margin: 30px 0 20px 20px;
  }
  .details__info-three {
    margin: 30px 0 20px 20px;
  }
  .details__info-four {
    margin: 30px 0 30px 20px;
  }
}
@media (max-width: 1023px) {
  .details__wrap-headig {
    flex-direction: column-reverse;
  }
  .details__subheading {
    font-size: 40px;
  }
  .details__wrap-logo {
    margin-bottom: 17px;
  }
  .details__about-company {
    padding-top: 10px;
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .details__span-company {
    font-size: 18px;
  }
  .details__stack-list {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .details__point {
    margin-bottom: 8px;
  }
  .details__wrap-stages {
    display: flex;
  }
  .details__stage-list {
    display: none;
  }
  .details__stage-info-list {
    display: none;
  }
}
@media (max-width: 425px) {
  .details__wrap-button {
    text-align: center;
  }
}
.footer {
  padding: 74px 0 30px;
}
.footer__row {
  display: flex;
  justify-content: space-between;
}
.footer__list {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}
.footer__item {
  margin-left: 24px;
}
.footer__item:nth-child(1) {
  margin-left: 0;
}
.footer__logo {
  margin-right: 56px;
}
.footer__ref {
  color: #6e85ab;
  transition: all 0.3s ease 0s;
}
.footer__ref:hover {
  color: #151f2d;
}
.footer__wrap-sub {
  display: flex;
  align-items: center;
}
.footer__wrap-subscribe {
  margin-left: 24px;
}
@media (max-width: 1023px) {
  .footer__row {
    flex-direction: column;
  }
  .footer__logo {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .footer__list {
    flex-direction: column;
    margin-bottom: 30px;
  }
  .footer__item {
    margin-left: 0;
    margin-bottom: 15px;
  }
  .footer__wrap-sub {
    flex-direction: column;
  }
  .footer__wrap-telegram {
    margin-bottom: 30px;
  }
  .footer__wrap-subscribe {
    margin-left: 0;
  }
}