.completed {
    &__row-data {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__subheading {
        position: relative;

        font-weight: 700;
        font-size: 28px;
        line-height: 143%;

        color: $colorGarkBlue;

        padding-right: 80px;

        &::before {
            position: absolute;
            top: 10px;
            right: 40px;
            font-size: 22px;
        }

        &::after {
            position: absolute;
            top: 10px;
            right: 0;
            font-size: 22px;
        }
    }

    &__list-data {
        display: flex;
    }

    &__left-button {
    }

    &__left {
        position: relative;

        &::before {
            position: absolute;
            top: 4px;
            left: 0;
            font-size: 16px;
        }
    }

    &__wrap-month {
    }

    &__month {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;

        color: $colorGarkBlue;
        padding: 0 30px;
    }

    &__rigth-button {
    }

    &__rigth {
        position: relative;

        &::after {
            position: absolute;
            top: 4px;
            right: 0;
            font-size: 16px;
        }
    }

    &__year {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;

        color: $colorGrey;

        margin-left: 20px;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -16px;
    }

    &__column {
        padding: 16px;
        flex: 0 1 33.3334%;
    }

    &__item {
        padding: 24px;
        background: #fff;
        border-radius: 24px;
        transition: all 0.3s ease 0s;

        height: 100%;
        display: flex;
        flex-direction: column;

        &:hover {
            box-shadow: 0px 4px 15px rgba(110, 133, 171, 0.15);
        }
    }

    &__title {
        font-weight: 700;
        font-size: 28px;
        line-height: 121%;

        color: $colorGrey;

        margin-bottom: 16px;
    }

    &__stack {
        display: flex;
        flex-wrap: wrap;
        margin: -4px -4px;

        margin-bottom: 24px;
    }

    &__point {
        font-weight: 700;
        font-size: 14px;
        line-height: 143%;

        color: $colorGrey;

        padding: 5px 13.5px;
        border: 1px solid $colorGrey;
        border-radius: 87.7854px;

        margin: 2px;

        &:nth-child(1) {
            margin-left: 0;
        }
    }

    &__data-list {
        flex: 1 1 auto;
        margin-bottom: 24px;
    }

    &__data-point {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;

        color: $colorGrey;
    }

    &__data-info {
        font-size: 14px;
        line-height: 143%;

        color: $colorGrey;
    }

    &__wrap-company {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__name-company {
    }

    &__span-name {
        display: inline-block;
        margin-top: 5px;
        font-size: 20px;
        line-height: 150%;

        color: $colorGrey;
    }
}

@media (max-width: 1023px) {
    .completed {
        &__column {
            flex: 0 1 50%;
        }
    }
}

@media (max-width: 767px) {
    .completed {
        &__row-data {
            flex-direction: column;
        }

        &__subheading {
            margin-bottom: 30px;
        }

        &__list-data {
        }

        &__left-button {
        }

        &__left {
        }

        &__wrap-month {
            &:nth-child(2) {
                display: none;
            }

            &:nth-child(3) {
                display: none;
            }
        }

        &__month {
        }

        &__rigth-button {
        }

        &__rigth {
        }

        &__year {
        }

        &__row {
        }

        &__column {
        }

        &__item {
        }

        &__title {
        }

        &__stack {
        }

        &__point {
        }

        &__data-list {
        }

        &__data-point {
        }

        &__company-info {
        }

        &__wrap-logo {
        }

        &__logo {
        }

        &__about-company {
        }

        &__span-company {
        }

        &__wrap-button {
        }

        &__button {
        }

        &__more {
        }

        &__item-shadow {
        }

        &__title-shadow {
        }

        &__wrap-img-load {
        }

        &__wrap-load {
        }

        &__wrap-cartoon {
        }

        &__cartoon {
        }
    }
}
