.completed {
    &__row-data {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 24px;
    }

    &__subheading {
        font-weight: 700;
        font-size: 28px;
        line-height: 143%;

        color: rgba(21, 31, 45, 0.96);
    }

    &__list-data {
        display: flex;
    }

    &__left-button {
    }

    &__left {
        position: relative;
        color: #6e85ab;
        margin-right: 16px;

        &::before {
            position: absolute;
            top: 5px;
            left: 0;
            font-size: 16px;
        }
    }

    &__wrap-month {
        font-weight: 700;
        font-size: 16px;
        line-height: 125%;

        margin: 0 16px 0 16px;
    }

    &__month {
        color: #6e85ab;
        transition: all 0.3s ease 0s;

        &:hover {
            color: $colorGarkBlue;
        }
    }

    &__rigth-button {
    }

    &__rigth {
        position: relative;
        color: #6e85ab;
        margin-left: 16px;

        &::after {
            position: absolute;
            top: 5px;
            right: 0;
            font-size: 16px;
        }
    }

    &__year {
        font-weight: 700;
        font-size: 16px;
        line-height: 143%;

        color: #6e85ab;

        margin-left: 32px;
    }

    &__row {
        display: flex;
    }

    &__column {
        padding: 16px;
        flex: 0 1 33.3334%;
    }

    &__item {
        padding: 32px;
        background: #fff;
        border-radius: 32px;
        transition: all 0.3s ease 0s;

        height: 100%;
        display: flex;
        flex-direction: column;

        &:hover {
            box-shadow: 0px 4px 15px rgba(110, 133, 171, 0.15);
        }
    }

    &__title {
        margin-bottom: 16px;
        color: #6e85ab;
    }

    &__stack {
        display: flex;
        font-weight: 700;
        font-size: 14px;
        line-height: 143%;

        color: #6e85ab;

        margin-bottom: 24px;
    }

    &__point {
        padding: 5px 13.5px;
        border: 1px solid #6e85ab;
        border-radius: 87.7854px;
        margin-left: 4px;

        &:nth-child(1) {
            margin-left: 0;
        }
    }

    &__data-list {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;

        color: #6e85ab;

        margin-bottom: 24px;
    }

    &__data-point {
        margin-bottom: 4px;

        &:last-child {
            font-size: 14px;
            line-height: 143%;

            color: #6e85ab;
            margin-bottom: 0;
        }
    }

    &__company-info {
        position: relative;

        display: flex;
        color: #6e85ab;
    }

    &__wrap-logo {
    }

    &__logo {
        border-radius: 50%;
    }

    &__about-company {
        padding-top: 13px;
        margin-left: 16px;
    }

    &__span-company {
        font-size: 14px;
        line-height: 143%;

        color: #6e85ab;
    }
}

@media (max-width: 1023px) {
    .completed {
        &__column {
            flex: 0 1 50%;
        }
    }
}

@media (max-width: 767px) {
    .completed {
        &__row-data {
            flex-direction: column;
        }

        &__subheading {
            margin-bottom: 30px;
        }

        &__list-data {
        }

        &__left-button {
        }

        &__left {
        }

        &__wrap-month {
            &:nth-child(2) {
                display: none;
            }

            &:nth-child(3) {
                display: none;
            }
        }

        &__month {
        }

        &__rigth-button {
        }

        &__rigth {
        }

        &__year {
        }

        &__row {
        }

        &__column {
        }

        &__item {
        }

        &__title {
        }

        &__stack {
        }

        &__point {
        }

        &__data-list {
        }

        &__data-point {
        }

        &__company-info {
        }

        &__wrap-logo {
        }

        &__logo {
        }

        &__about-company {
        }

        &__span-company {
        }

        &__wrap-button {
        }

        &__button {
        }

        &__more {
        }

        &__item-shadow {
        }

        &__title-shadow {
        }

        &__wrap-img-load {
        }

        &__wrap-load {
        }

        &__wrap-cartoon {
        }

        &__cartoon {
        }
    }
}
