@mixin font($fontFamily, $fileName, $fontWeight, $fontStyle) {
    @font-face {
        font-display: swap;
        font-family: $fontFamily;
        src: url("./../fonts/#{$fileName}.woff2") format("woff2"), url("./../fonts/#{$fileName}.woff") format("woff");
        font-weight: #{$fontWeight};
        font-style: #{$fontStyle};
    }
}
@include font("Century Gothic", "CenturyGothic", "400", "normal");
@include font("Century Gothic", "CenturyGothic-Bold", "700", "normal");
