.page {
    &__note {
        margin-bottom: 0;
    }
}
.note {
    &__wrap-back {
        position: relative;

        font-weight: 600;
        font-size: 14px;
        line-height: 143%;

        margin-bottom: 16px;
    }

    &__back {
        color: #6e85ab;
        padding-left: 20px;
        transition: all 0.3s ease 0s;

        &::before {
            position: absolute;
            top: 4px;
            left: 0;
            font-size: 13px;
        }

        &:hover {
            color: $colorGarkBlue;
        }
    }

    &__body {
        margin: 0 auto;
        padding: 32px 48px;

        max-width: 900px;

        background: $colorWhite;
        border-radius: 24px;

        &::before {
        }
    }

    &__subheading {
        margin-bottom: 16px;
    }

    &__title {
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;

        color: $colorGarkBlue;

        margin-bottom: 16px;
    }

    &__topic {
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;

        color: #38b5cf;

        margin-bottom: 32px;
    }

    &__wrap-img {
        text-align: center;

        margin-bottom: 32px;
    }

    &__img {
        border-radius: 16px;
        max-width: 100%;
    }

    &__text {
        margin-bottom: 32px;
    }

    &__wrap-pic {
        text-align: center;

        margin-bottom: 32px;
    }

    &__pic {
        border-radius: 16px;
        max-width: 100%;
    }
}

@media (max-width: 1023px) {
    .note {
        &__body {
            padding: 16px 24px;
        }

        &__subheading {
            text-align: center;
        }

        &__title {
            text-align: center;
        }

        &__topic {
            text-align: center;
        }
    }
}
