.tickets {
    &__row {
        display: flex;
        margin: 0 -16px;
        flex-wrap: wrap;
    }

    &__column {
        padding: 16px;
        flex: 0 1 33.3334%;
    }

    &__item {
        padding: 32px;
        background: #fff;
        border-radius: 24px;
        transition: all 0.3s ease 0s;

        height: 100%;
        display: flex;
        flex-direction: column;

        &:hover {
            box-shadow: 0px 4px 15px rgba(110, 133, 171, 0.15);
        }
    }

    &__title {
        margin-bottom: 16px;
    }

    &__stack {
        display: flex;

        font-size: 14px;
        line-height: 143%;

        color: #38b5cf;

        margin-bottom: 24px;
    }

    &__point {
        padding: 5px 13.5px;
        border: 1px solid #38b5cf;
        border-radius: 87.7854px;
        margin-left: 4px;

        &:nth-child(1) {
            margin-left: 0;
        }
    }

    &__data-list {
        font-size: 16px;
        line-height: 150%;

        color: $colorGarkBlue;

        margin-bottom: 24px;
    }

    &__data-point {
        margin-bottom: 4px;

        &:last-child {
            font-size: 14px;
            line-height: 143%;

            color: #6e85ab;

            margin-bottom: 0;
        }
    }

    &__wrap-company-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__about-company {
        position: relative;

        padding-left: 52px;

        font-size: 20px;
        line-height: 150%;

        color: $colorGarkBlue;

        &::before {
            content: "";
            position: absolute;
            top: -5px;
            left: 0;

            width: 40px;
            height: 40px;
            background: url("./../img/vk.png") 0 0 / contain no-repeat;
        }
    }

    &__wrap-button {
    }

    &__button {
        padding: 10px 16px;

        border: 1px solid $colorGarkBlue;
        border-radius: 16px;

        font-weight: 700;
        font-size: 14px;
        line-height: 143%;

        color: $colorGarkBlue;
    }

    &__item-shadow {
        padding: 32px 0 0 0;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 24px;

        &:hover {
            box-shadow: 0px 4px 15px rgba(110, 133, 171, 0.15);
        }
    }

    &__title-shadow {
        text-align: center;
        margin: 0 auto;
        font-weight: 700;
        font-size: 28px;
        line-height: 125%;
        width: 281px;

        text-align: center;

        color: rgba(110, 133, 171, 0.5);

        margin-bottom: 24px;
    }

    &__wrap-img-load {
        text-align: center;
    }

    &__wrap-load {
    }

    &__wrap-cartoon {
        text-align: right;
    }

    &__cartoon {
    }
}

@media (max-width: 1335px) {
    .tickets {
        &__row {
            justify-content: center;
            margin: -16px;
        }

        &__company-info {
            display: inline-block;
        }

        &__about-company {
            margin-left: 0;
        }

        &__button {
            margin-top: 50px;
        }
    }
}

@media (max-width: 1023px) {
    .tickets {
        &__column {
            flex: 0 1 50%;
        }
    }
}
